.bg{
    background-color: rgb(255, 68, 99);
    height: 300px;
    width: 100%;
}
.earbuds{
    color: white;
    padding-top: 60px;
    padding-left: 50px;
}
.earall{
    list-style: none;
    display: flex;
}
.viewall{
    margin-left: 830px;
    margin-top: 60px;
    border: none;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    width: 70px;
}
.main{
    display: flex;
    margin-left: 60px;
}